*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

/*Header*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 90px;
    padding-right: 20px;
    padding-bottom: 10px;
    position: fixed;
    z-index: 1000;
}

.navlist{
    margin-left: 50px;
    margin-top: 10px;
}

.bt{
    margin-left: 50px;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    margin-left: 10px;
}

nav ul li a{
    text-decoration: none;
    font-size: 16px;
    border: 2px solid transparent;
    padding: 6px 7px;
    font-weight: 500;
    
}

.navlist ul li a{
    color: white;
}

.navlist ul li a:hover{
    color: darkorange;
    transition: .2s;
}

.logo{
	color: white;
	font-size: 35px;
	font-family: arial;
	padding-left: 0px;
    padding-right: 100px;
	float: left;
	padding-top: 10px;
}

.logo span{
    color: darkorange;
}
 

form{
	margin-right: 100px;
}

.search{
	position: relative;
	left: 100%;
	bottom: 55%;
}

.srch{
    position: relative;
    left: 140px;
	font-family: Arial, Helvetica, sans-serif;
	width: 200px;
	height: 33px;
	background: transparent;
	border: 1px solid white;
	margin-top: 13px;
	color: white;
	border-right: 5px;
	font-size: 16px;
	float: left;
	padding: 10px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
    margin-right: 50px;
}

.btn{
    position: relative;
    left: 90px;
	width: 100px;
	height: 33px;
	background: orange;
	border: 2px solid beige;
	margin-top: 13px;
    margin-right: 10px;
	color: black;
	font-size: 15px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	transition: 0.2s ease-in-out;
}

.btn:hover{
	background-color: whitesmoke;
}

input{
	color: black;
}
/*end of header*/

/*Contact*/
#contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7)50%,rgba(0, 0, 0, 0.7)50%), url(./img/mt.jpg);
    background-size: cover;

}

#contact::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}

#contact .content{
    max-width: 800px;
    text-align: center;
}

#contact .content h2{
    margin-top: 50px;
    font-size: 36px;
    font-weight: 500;
    color: white;
}

#contact .content p{
    font-size: 12px;
    font-weight: 300;
    color: white;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icons{
    min-width: 60px;
    height: 60px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactInfo .box .icons:hover{
    color: white;
    background-color: darkorange;
}

.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: white;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box .text h3{
    font-weight: 500;
    color: darkorange;
}

.contactform{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 60px;
    background: white;
}

.contactform h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactform .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactform .inputbox input{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
}

.contactform .inputbox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
}

.contactform .inputbox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 14px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span,
.contactform .inputbox textarea:focus ~ span,
.contactform .inputbox textarea:valid ~ span{
    color: darkorange;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactform .inputbox input[type="submit"]{
    width: 100px;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
.contactform .inputbox .sub:hover {
    color: white;
    background-color: darkorange;
}
    




/*end Contact*/

    
/*Footer*/
.footer{
	background-color: #f9ece6;
	text-align: center;
}

.footer .wrap{
	background-color: wheat;
	padding-top: 60px;
    padding-bottom: 30px;
}

.footer .site-footer .wrap{
	background-color: #f9ece6;
}

.credentials{
	font-size: 13px;
	letter-spacing: 1px;
	font-family:'Manserrat', sans-serif;
    margin-bottom: -50px;
    margin-top: 30px;
}

.icon{
	color: black;
	text-decoration: none;
	text-align: center;
	margin-top: -50px;
	margin-bottom: 30px;
	margin-right: 20px;
}

.icon ul{
	list-style-type: none;
	display: -webkit-inline-box;
}

.icon li{
	cursor: pointer;
	text-decoration: none;
	font-size: 16px;
	padding: 8px;
	border: solid black 1px;
	margin-left: 20px;
}

.icon li i{
    padding: 3px 5px;
}
.icon li:hover{
	background-color: darkorange;
}

.crap{
    margin-bottom: 70px;
    margin-top: -50px;
}

.crap h1{
    color: black;
    font-size: 30px;
    text-transform: uppercase;
}

.crap h1 span{
    color: darkorange;
}
.crap h2{
    font-size: 15px;
    margin-top: 10px;
}
/*End of footer*/