*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Header*/
/*Header*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 90px;
    padding-right: 20px;
    padding-bottom: 10px;
    position: fixed;
    z-index: 1000;
    display: flex;

}

.navlist{
    margin-left: 50px;
    margin-top: 10px;
}

.bt{
    margin-left: 50px;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    margin-left: 10px;
}

nav ul li a{
    text-decoration: none;
    font-size: 16px;
    border: 2px solid transparent;
    padding: 6px 7px;
    font-weight: 500;
    
}

.navlist ul li a{
    color: white;
}

.navlist ul li a:hover{
    color: darkorange;
    transition: .2s;
}

.logo{
	color: white;
	font-size: 35px;
	font-family: arial;
	padding-left: 0px;
    padding-right: 100px;
	float: left;
	padding-top: 10px;
}

.logo span{
    color: darkorange;
}
 

form{
	margin-right: 100px;
}

.search{
	position: relative;
	left: 100%;
	bottom: 55%;
}

.srch{
    position: relative;
    left: 140px;
	font-family: Arial, Helvetica, sans-serif;
	width: 200px;
	height: 33px;
	background: transparent;
	border: 1px solid white;
	margin-top: 13px;
	color: white;
	border-right: 5px;
	font-size: 16px;
	float: left;
	padding: 10px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
    margin-right: 50px;
}

.btn{
    position: relative;
    left: 90px;
	width: 100px;
	height: 33px;
	background: orange;
	border: 2px solid beige;
	margin-top: 13px;
    margin-right: 10px;
	color: black;
	font-size: 15px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	transition: 0.2s ease-in-out;
}

.btn:hover{
	background-color: whitesmoke;
}

input{
	color: red;
}
/*end of header*/
/*content*/
#service{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7)50%,rgba(0, 0, 0, 0.7)50%), url(./img/mt.jpg);
    background-size: cover;
}

#service::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}

img{
    position: relative;
    float: left;
	margin: auto;
	display: block;
	margin-top: 40px;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border: 5px solid darkorange;
}

img:hover{
	border-color: white;
}

.content h2{
    position: relative;
    left: 25%;
    top: 50px;
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	color: darkorange;
	margin-top: -5%;
}

.content p{
	margin-top: 60px;
	font-size: 17px;
	color: white;
	line-height: 1.5;
	margin-left: 25%;
	margin-right: 20%;
}
/*end content*/

    
/*Footer*/
.footer{
	background-color: #f9ece6;
	text-align: center;
}

.footer .wrap{
	background-color: wheat;
	padding-top: 60px;
    padding-bottom: 30px;
}

.footer .site-footer .wrap{
	background-color: #f9ece6;
}

.credentials{
	font-size: 13px;
	letter-spacing: 1px;
	font-family:'Manserrat', sans-serif;
    margin-bottom: -50px;
    margin-top: 30px;
}

.icon{
	color: black;
	text-decoration: none;
	text-align: center;
	margin-top: -50px;
	margin-bottom: 30px;
	margin-right: 20px;
}

.icon ul{
	list-style-type: none;
	display: -webkit-inline-box;
}

.icon li{
	cursor: pointer;
	text-decoration: none;
	font-size: 16px;
	padding: 8px;
	border: solid black 1px;
	margin-left: 20px;
}

.icon li i{
    padding: 3px 5px;
}
.icon li:hover{
	background-color: darkorange;
}

.crap{
    margin-bottom: 70px;
    margin-top: -50px;
}

.crap h1{
    color: black;
    font-size: 30px;
    text-transform: uppercase;
}

.crap h1 span{
    color: darkorange;
}
.crap h2{
    font-size: 15px;
    margin-top: 10px;
}
/*End of footer*/